body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    font-size: 21px;
    font-weight: 700;
    line-height: inherit;
    color: #ffffff;

    text-transform: uppercase;

    text-align: center;
    vertical-align: middle;

    border: none;
}

.button-brown {
    background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
    background-color: #604e43;
}

.button-brown:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.button-blue {
    background-color: #81b3d2;
}

.button-blue:hover {
    background-color: #669ec0;
}

.button-blue:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content-center {
    width: 1200px;
    margin: 0 auto;

    position: relative;
}

/* HEADER */

header {
    background-color: #ffffff;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    list-style: none;
}

.site-navigation-item {
    text-align: center;

    width: 239px;
    padding: 15px 10px;
}

.menu-items-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu-items-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.site-navigation-item a {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
    color: #81b3d2;
}

.site-navigation-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.logo {
    position: absolute;
    left: calc(50% - 70px);

    z-index: 1000;
}

/* MAIN index */

.welcome-block {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 511px;

    background-image: 
        url("../img/polygon.png"),  
        url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%, 0 -80px;
}

.reason-intro {
    text-align: center;

    padding-top: 43px;
    padding-bottom: 41px;
}

.reason-intro h2 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;

    margin-bottom: 33px;
}

.reason-list, .reason-list-item-1-features {
    padding: 0;

    list-style: none;
}

.reason-list-item-flex-block {
    display: flex;

    height: 256px;
}

.reason-list-item-flex-block-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.reason-list-item-1-description,
.reason-list-item-2-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
    text-align: center;

    background-color: #81b3d2;
}

.reason-list-item-1-image,
.reason-list-item-2-image {
    background-color: #cccccc;
}

.reason-list-item-1-description h3,
.reason-list-item-2-description h3 {
    font-size: 21px;
    font-weight: 700;
}

.reason-list-item-1-features,
.reason-list-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #333333; 
}

.reason-list-item-1-features {
    display: flex;
    flex-direction: row;

    background-color: #ffffff;
}

.features-item,
.reason-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    width: 400px;
    height: 330px;
}

.features-item-housing-icon::before {
    content: url("../img/icon-1.svg");

    width: 75px;
    height: 72px;

    margin: 0 auto;
}

.features-item-food-icon::before {
    content: url("../img/icon-2.svg");

    width: 74px;
    height: 70px;

    margin: 0 auto;
}

.features-item-souvenirs-icon::before {
    content: url("../img/icon-3.svg");

    width: 64px;
    height: 76px;

    margin: 0 auto;
}

.reason-list-item {
    height: 256px;

    background-color: #eeeeee;
}

.features-item h4,
.reason-list-item h3 {
    font-size: 21px;
    font-weight: 700;
    color: #000000; 
}

.hotel-search {
    text-align: center;

    padding-top: 30px;
}

.hotel-search h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
}

.hotel-search p {
    margin-bottom: 50px;
}

.hotel-search-button {
    padding: 35px 140px;
}

.hotel-search-form {
    display: none;
}

/* MAIN catalog */

.catalog-filter {
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position-y: 50%;
}

.catalog-filter-form {
    display: flex;
    justify-content: space-between;

    padding: 30px 72px;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
}

.catalog-filter-form-types {
    display: flex;
}

.catalog-filter-form-types input[type="checkbox"] {
    margin-right: 15px;
}

.catalog-filter-form fieldset {
    padding: 0;
    margin: 0;

    border: none;
}

.catalog-filter-form-types fieldset {
    margin-right: 115px;
}

.catalog-filter-form legend {
    font-size: 16px;
    font-weight: 700;
}

.catalog-filter-form-cost {
    text-align: center;
}

.catalog-filter-form-cost legend {
    margin-bottom: 15px;

    text-align: left;
}

.catalog-filter-form ul {
    list-style: none;

    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.catalog-filter-form li {
    margin-bottom: 36px;
}

.catalog-filter-form li:last-child {
    margin-bottom: 0;
}

.range-slider input {
    margin-bottom: 22px;
}

.range-slider-track {
    height: 2px;
    margin-bottom: 34px;

    background-color: #ffffff;
}

.catalog-filter-form-cost button {
    color: #ffffff;
    text-transform: uppercase;

    padding: 11px 35px;

    border: 2px solid #ffffff;
    background-color: transparent;
}

.catalog-filter-form button:hover,
.catalog-filter-form button:focus {
    color: #000000;
    background-color: #ffffff;
}

.sorting-block {
    display: flex;
    justify-content: space-between;

    padding: 30px 72px;

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;

    background-color: #fefefe;
}

.found {
    margin-right: 50px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.sorting {
    display: flex;
    align-items: center;
}

.sorting ul {
    display: flex;

    padding: 0;
    margin-left: 40px;

    list-style: none;
}

.sorting li {
    margin-right: 33px;
}

.sorting-item a {
    color: rgba(0, 0, 0, 0.3);
    
    border-bottom: 1px dashed #81b3d2;
}

.sorting-item a:hover {
    color: #81b3d2;
}

.sorting-item a:active {
    color: #000000;
}

.sorting-item-current a {
    color: #81b3d2;

    border-bottom: none;
}

.sorting-arrows {
    display: flex;
    align-items: center;
}

.sorting-arrow {
    border: none;
    background-color: transparent;
}

.sorting-arrow:hover path {
    fill: #231F20;
}

.sorting-arrow:active path,
.sorting-arrow-current path {
    fill: #81b3d2;
}

.sorting-arrow-up:before {
    content: "";


}

.catalog-list {
    padding: 0;
    margin: 0;

    background-color: #fefefe;

    list-style: none;
}

.catalog-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 30px 72px;
    border-top: 1px solid #e5e5e5;
}

.catalog-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.catalog-item figure {
    display: flex;
    flex-direction: row;

    height: 90px;

    margin: 0;
}

.catalog-item-image {
    margin-right: 30px;
}

.catalog-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-item-text h2 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;

    margin: 0;
}
    
.catalog-item-description {
    line-height: 21px;

    margin: 0;
}

.catalog-item-buttons {
    margin: 0;
}

.catalog-item-info-button,
.catalog-item-reservation-button {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
}

.catalog-item-info-button {
    background-color: #81b3d2;
}

.catalog-item-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-item-stars {
    text-align: right;
}

.catalog-item-star::before {
    content: '';

    display: inline-block;
    width: 17px;
    height: 17px;

    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-item-mark {
    display: inline-block;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #666666;

    padding: 5px 15px;
    margin: 0;

    background-color: #f2f2f2;
}

/* FOOTER */

footer {
    line-height: 0;
}

.footer-contact-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    min-width: 100%;
    padding: 36px 0;

    background-color: rgba(255, 255, 255, 0.9);

    position: absolute;
    bottom: 0;
}

.footer-catalog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 36px 0;

    background-color: rgba(255, 255, 255, 0.9);
} 

.footer-contacts {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;

    text-align: left;

    margin: 0;
}

.social {
    display: flex;
    flex-direction: row;

    text-align: center;

    padding: 0;
    margin: 0;

    list-style: none;
}

.social li {
    margin-right: 6px;
}

.social li:last-child {
    margin-right: 0;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 48px;

    color: #ffffff;

    background-color: #81b3d2;
}

.social a:hover,
.social a:focus {
    background-color: #669ec0;
}

.social a:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.copyright span {
    margin-right: 8px;
}

.logo-htmla {
    color: #231f20;
}

.footer-logo:hover path {
    fill: #81b3d2;
}

.footer-logo:active path {
    fill: #bdbbbc;
}